header {
	background-color: #CCCCCC;
	padding: 20px 0;
}

.cabecalho {
	text-align: center;
}

.titulo-principal {
	padding: 10px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

nav {
	position: absolute;
	top: 110px;
	right: 60px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.descricao{
	padding: 20px;
}

.subtitulo {
	padding: 10px;
	font-size: 20px;
}

.descricao li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.missao{
	padding: 10px;
	font-size: 20px;
}

.conclusao {
	padding: 10px;
}

.descricao li:hover {
	border-color: #C78C19;
}

.descricao li:active {
	border-color: #088C19;
}
.descricao li:hover h2{
	font-size: 34px;
}

.descricao h2 {
	font-size: 30px;
	font-weight: bold;
}	

.footer {
    font-size: 15px;
    position:absolute;
    text-align: center;
    bottom:0;
    width:100%;
    margin-bottom: 20px
}